.main-life {
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    margin: 1rem 0;

    li {
      list-style: none;

      h3 {
        margin: 0;
        text-align: start;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }

      small {
        color: var(--bg1);
        font-size: 0.7rem;
        background: var(--fg0);
        padding: 0.2rem 0.5rem;
        border-radius: 0.2rem;
      }
    }
  }
}
