.main-life {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 2rem;

  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    margin: 1rem 0;

    li {
      list-style: none;

      h3 {
        margin: 0;
        text-align: start;
      }

      img {
        width: 100%;
        height: auto;
      }

      small {
        color: var(--bg1);
        font-size: .7rem;
        background: var(--fg0);
        padding: .2rem .5rem;
        border-radius: .2rem;
      }
    }
  }

}
