.main-home {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 2rem;

  .useful-links {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin: 1rem 0;

    div {
      display: flex;
      justify-content: center;
      gap: 2.5rem;

      a {
        transition: color .3s;

        &:hover {
          color: var(--fg4);
        }
      }
    }
  }

  .mainText {
    margin: 2rem 0;
  }
}