.main-home {
  .useful-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;
    margin: 1rem 0;

    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2.5rem;

      a {
        transition: color 0.3s;

        &:hover {
          color: var(--fg4);
        }
      }
    }
  }

  .mainText {
    margin: 1rem 0;
  }
}

