.title-subtitle-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 0.3rem;

  img {
    width: 300px;
  }

  h1 {
    font-size: 1.4rem;
  }

  h4 {
    color: var(--fg5);
  }
}

